@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400&family=Roboto+Slab&display=swap');

body{
    font-family: 'Poppins', sans-serif;
    background-color:#fff;
    margin: 0;
    padding:0 4rem;
}

main {
    background-color: white;
}

h2,h4 {
    font-family: 'Roboto Slab', serif;   
}

nav{
    display: grid;
    grid-template-columns: repeat(5, auto);
    font-weight: 700;
    background-color: #0A66C2;
    padding: .5rem 0;
    color: #fff;
    margin: 0;
}

.logopack
{
    margin: auto;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    grid-area: 'logopack';
}

.logo{
    width: 6rem;
    margin: 0;
    background: none;
    padding: 0;
}

.globalnav {
    margin: auto 2rem auto 0;
}

nav a {
    margin: auto;
    cursor: pointer;
    width: 80px;
    padding:.5rem;
    text-align: center;
    text-decoration: none;
    font-size: .9em;
    color: white;

}

nav a:hover, .active{
    background-color: aliceblue;
    color: steelblue;

}

h2{
    text-align: center;
    margin-top: 25px;
    font-size: 35px;
}

h4{
    text-align: center;
    font-size: 25px;
}

.button{
    text-align: center;
}

.btn{

    margin: 50px;
    width: 185px;
    height: 73px;
    background-color: #304f7c;
    color: white;
    font-size: 15px;
    border-radius: 10px;
    border: 2px solid aliceblue;
}

.btn:hover {
    background-color: blueviolet;
}

footer {
    margin-top: 0;
     background-color: #0A66C2;
     padding: 1rem .5rem;
     color: white;
  
  }
  .footercontainer {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    text-align: center;
  }
  .socialflex {
    display: grid;
    margin-right: 1rem;
  
  
  }
  
  .socials {
    margin-right: 2rem;
    width: 15%;
  display: grid;
  grid-template-columns: repeat(3,auto);
  
  }
  .contact  h3 {
    font-size: .9rem;
    
  }
  
  footer a {
    text-decoration: none;
    color: white;
  
  }
  .socials img {
    width: 1.5rem;
    border-radius: 0;
  
  }
  
  .socialflex h2 {
    margin: 0 auto;
    background-color: transparent;
  }
  .contact {
    text-align: left;padding-left: 1rem;
  }